<h1>Componente de coches</h1>

<form #formCoche="ngForm" (ngSubmit)="onSubmit()">
    <p>
        <label>Nombre:</label>
        <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="coche.nombre" required>
    </p>
    <p>
        <label>caballos:</label>
        <input type="text" name="caballos" #caballos="ngModel" [(ngModel)]="coche.caballos" required>
    </p>
    <p>
        <label>color:</label>
        <input type="text" name="color" #color="ngModel" [(ngModel)]="coche.color" required>
    </p>
    <input type="submit" value="Guardar">
</form>