<h3>
  {{title}}
</h3>
<hr>
<nav>
  <a [routerLink]="['/pagina-principal']" routerLinkActive="activado">home</a>
  <a [routerLink]="['/fruta']" routerLinkActive="activado">fruta</a>
  <a [routerLink]="['/empleado']" routerLinkActive="activado">empleado</a>
  <a [routerLink]="['/contacto']" routerLinkActive="activado">Contacto</a>
  <a [routerLink]="['/coches']" routerLinkActive="activado">Coches</a>
  <a [routerLink]="['/plantillas']" routerLinkActive="plantillas">Plantillas</a>

</nav>
<hr>

<router-outlet></router-outlet>

